* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    text-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #817070;
  }
  html, body {
    height: 100%;
  }
  .form-container { 
    text-align: center;
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    background-color: #635959;;
  }
  
  .titulo-rojo{
      color: red;
      font-size: 40px;
  }

  .checkbox-container{
      margin: 15px 0;
  }
  
  .sign-up{
      margin-bottom: 30px;
  }
  input{
      border-radius: 0!important;
  }

  .my-button {
      margin: 20px 0;
  }

  .my-title{
      margin-bottom: 35px;
  }
  